.navbar {
    background: transparent;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar.active{
    background: #0a0c0d;
}
